
:root {
  --border-radius: 2px;
}

.<%= className %> {
  /* A variabble from our theme, see postcss.config.js */
  border: 3px solid var(--ivh-color-danger);
  /* A local variable */
  border-radius: var(--border-radius);
}
